
.loginpage-body{
    background-color: #f4ecdc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-box {
    background:#f4ecdc ;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    border-top: 3px solid black;
    border-bottom:3px solid black ;
}

        .loginformcontrol {
    background-color: #f4ecdc ; 
    border: 1px solid black; 
    padding-left: 40px;
}

.input-group-text {
    background-color: #f4ecdc; 
    border: 1px solid black; 
}

.loginformcontrol:focus {
    box-shadow: 0 0 5px black;
    border-color: black;
}

  

